@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1; /* this will push the header up and the footer down, so sticky footer!! */
    background-image: linear-gradient(to right, #000, rgb(141, 132, 132), #000);
    /* border: 20px dashed rgb(63, 62, 62); */
    /* border-right: 20px dashed rgb(92, 91, 91); */
}

.iframeOff {
    display: none;
}

header,
footer {
    display: flex;
    align-items: center;
}

footer {
    z-index: 1;
}

header {
    padding: 10px 10px -30px 50px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family: 'Ranchers', cursive;
    /* height: 5rem; */
    font-size: 4vw;
}

h1,
#popcorn,
#reel {
    padding-right: 2px;
    /* z-index: 1; */
}

#popcorn,
#reel {
    height: 10vw;
}

#reel {
    transform: rotateZ(80deg);
    margin-top: 25px;
}

header p {
    font-size: 2vw;
    margin-top: -10px;
}

.action {
    margin-left: auto;
    border-right: 20px solid black;
    border-radius: 10px;
    height: 8vw;

}

.static {
    position: absolute;
    height: 8vw;
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    height: 8vw;
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.active:hover{
    position: absolute;
    border: 10px solid black;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
}

.static:hover {
    display: none;
    border-radius: 50%;

}

footer {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 2rem;
    /* maybe 50px */
}

#movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 60px;
    background-color: white;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgb(95, 91, 91);
    max-width: 19.3rem;
    /* transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s; */
}

.card:hover {
    background-color: rgb(211, 205, 205);
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
    box-shadow: 10px 5px 5px rgb(84, 177, 167);
    color: black;
}

.poster, .card>p {
    margin: 10px;
}

.poster {
    color: red;
    height: 23rem;
    width: 18rem;
}

.mainTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.movieDisplay {
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px solid gray;
    border-radius: 30px;
    box-shadow: 0 0 30px turquoise;
}

.movieText {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: span 2;
    font-size: max(20px,1.3vw);
}

#title {
    font-size: 3vw;
}

#yearDir {
    color:turquoise;
}

#plot{
    line-height: 35px;
}

#mainImg {
    height: 60vh;
    width: 30vw;
    border-radius: 30px;
    box-shadow: inset 0 0 100px #d81f1f;
}

#runtime {
    border: 2px solid rgb(78, 78, 80);
    padding: 10px;
    border-radius: 7px;
    color:teal;
    margin-right: 10px;
}







/*  */

@media (min-width: 900px) {
    h1,
    #popcorn,
    #reel {
        margin-bottom: -10px;
    }

}