@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1; /* this will push the header up and the footer down, so sticky footer!! */
    background-image: linear-gradient(to right, #000, #fff);
}

header, footer {
    display: flex;
    align-items: center;
}

header {
    padding: 10px 10px -30px 10px;
    background-color: black;
    color: white;
    font-family: 'Ranchers', cursive;
    /* height: 5rem; */
    font-size: 4vw;
}

h1, #popcorn, #reel {
    margin-bottom: -30px;
    padding-right: 2px;
    z-index: 1;
}

#popcorn, #reel {
    height: 10vw;
}

footer {
    justify-content: center;
    background-color: rgba(0,0,0, 0.2);
    height: 2rem;  /* maybe 50px */
}

#movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 60px;
    background-color:white;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgb(95, 91, 91);
    max-width: 19.3rem;
    /* font-family: 'Roboto', sans-serif; */
}

.card:hover {
    background-color:rgb(211, 205, 205);
    transform: scale(1.04);
    transition: all 0.4s;
}

.poster , .card > p {
    margin: 10px;
}

.poster {
    color: red;
    height: 23rem;
    width: 18rem;
}

.mainTitle {
    font-size: 1.5rem;
    /* font-weight: bold; */
}

@media (min-width: 900px) {
    h1, #popcorn, #reel {
        margin-bottom: -10px;
    }
}

