@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30px;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 1s;
}

.movieDisplay {
    margin: 0 auto;
    max-width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0,0,0,0.1);
    color: white;
    font-family: 'Roboto', sans-serif;
    /* grid-auto-rows: 100px auto; */
    grid-template-areas: 
     "movieDetails test poster";
}

/* .movieDisplay *{
    border: 2px dotted red;
} */

.movieText {
    padding: 40px;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    font-size: 1.3vw;
}

#title {
    font-size: 3vw;
}

#yearDir {
    color:turquoise;
}

#plot{
    line-height: 25px;
}

#mainImg {
    grid-area: poster;
    justify-self: end;
    align-self: center;
    height: 60vh;
    width: 30vw;
    border: solid 1.5em rgba(#000, 0.9)
}

#runtime {
    border: 2px solid rgb(78, 78, 80);
    padding: 10px;
    border-radius: 7px;
    color:teal;
    margin-right: 10px;
}